.main {
  position: relative;
  &__content {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;
    font-family: "Gilroy Medium";
  }
}

.list-todo {
  &__elem {
    display: flex;
    margin-bottom: 31px;
  }
  &__elem:last-child {
    margin-bottom: 0;
  }
  &__name {
    margin-left: 14px;
  }
}
