.main {
  position: relative;
  &__content {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;
    font-family: "Gilroy Medium";
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-change {
  padding: 3px 15px;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;
  font-family: "Gilroy Medium";
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
}
