@font-face {
  font-family: "Gilroy Regular";
  src: url("../src/fonts/Gilroy-Regular.eot");
  src: url("../src/fonts/Gilroy-Regular.woff") format("woff"),
    url("../src/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../src/fonts/Gilroy-ExtraBold.eot");
  src: url("../src/fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("../src/fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("../src/fonts/Gilroy-Medium.eot");
  src: url("../src/fonts/Gilroy-Medium.woff") format("woff"),
    url("../src/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy Regular";
  line-height: 1.2;
  letter-spacing: 0.18px;
  text-align: left;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: "Gilroy Extra Bold";
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 0.28px;
  text-align: left;
  color: #1c1c1c;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  li {
    padding: 0;
  }
}

button,
input,
a {
  outline: none !important;
}
